:root {
  --brand-color: #2196f3;
  --hever-button-color: #188ce8;
  --color-background: #2f303a;
  --color-background-team: #f5f4fa;
  --background-card-team: #ffffff;
  --main-text-color: #212121;
  --second-text-color: #757575;
  --contact-text: #ffffff99;
}

body {
  font-family: 'Roboto', 'Raleway';
  letter-spacing: 0.03em;
  background-color: var(--background-card-team);
  font-size: 14px;
  color: var(--main-text-color);
}
.background-decision {
  background-color: var(--color-background);
}

.background-team {
  background-color: var(--color-background-team);
}

.background-card-team {
  background-color: var(--background-card-team);
}

.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: #000000;
}

.logo-web,
.studio-current :active {
  color: var(--brand-color);
}

.logo-footer {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--background-card-team);
}

.heading {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background-card-team);
}

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--main-text-color);
  letter-spacing: 0.02em;
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--brand-color);
}

.current {
  color: var(--brand-color);
}

.contact {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff99;
  font-style: normal;
  text-decoration: none;
}

.contact:hover,
.contact:focus {
  color: var(--brand-color);
}

.link-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--background-card-team);
  font-style: normal;
  text-decoration: none;
}

/* контакты шапка */
.list-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
}

.title-litle {
  /* font-weight: 700; */
  font-size: 36px;
  line-height: 1.17;
}

.title-very-small {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  color: var(--second-text-color);
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background: var(--brand-color);
  color: var(--background-card-team);
}

.button:hover {
  background: var(--hever-button-color);
}

/* Особенности */

.title-peculiarities {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-text-color);
}

.text-peculiarities {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--second-text-color);
}
/* удаление маркера */
.point {
  list-style-type: none;
}

.button-filter {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  background: var(--color-background-team);
  border: none;
  cursor: pointer;
}

.button-all {
  background-color: var(--brand-color);
  color: var(--background-card-team);
}

.button-filter:hover,
.button-filter:focus {
  background-color: var(--hever-button-color);
  color: var(--background-card-team);
}

.title-cards {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}

.text-card {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
